body {
  background-image: url("bg.gif");
  background-size: cover;
}

.card {
  width: auto;
}
.card {
  background-color: rgba(245, 245, 245, 0.4);
}

.card-header,
.card-footer {
  opacity: 1;
}
.custom {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
  padding-top:1rem !important;
padding-bottom:1rem !important;
border-bottom:1rem !important;
  }
.card-title {
  background-color: rgba(122, 194, 217, 0.425);
}

@media only screen and (min-width: 700px) {
  .custom {
    margin-top: 10rem !important;
    margin-bottom: 5rem !important;
  }
}

