body {
  background-image: url("bg.gif");
  background-size: cover;
}

.card {
  width: auto;
}
.card {
  background-color: rgba(245, 245, 245, 0.4);
}

.card-header,
.card-footer {
  opacity: 1;
}
.card-title {
  background-color: rgba(122, 194, 217, 0.425);
}
@media only screen and (min-width: 700px) {
  .custom {
    margin-top: 10rem;
    margin-bottom: 5rem;
  }
}
@media only screen and (max-width: 600px) {
  .custom {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}
